---
layout: ru/blogs/239/2020/default
lang:   ru
id:     239_2020_10_5
---

<div class="home">

  <h1 class="post-title">{% include /commons/icon-rss.html path="feed_ru.xml" %} Задания для 10-5. ФМЛ №239. 2020/2021</h1>

  <table class="post-list">
    {% for post in site.categories.school239_105_2020_2021 %}
      {% if post.lang == page.lang %}
        <tr>
          <td>
            <span class="post-meta">{{ post.date | date: "%b %-d," }}</span>
          </td>
          <td>
            <span class="post-meta">{{ post.date | date: "%Y" }}</span>
          </td>
          <td>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>

</div>
