<footer class="site-footer">

  <div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-2">
        Контактная информация:
        <ul>
          <li>Полярный Николай Вадимович</li>
          <li>Задания слать на <a href="mailto:{{ site.email }}">{{ site.email }}</a> (обширные вопросы тоже)</li>
          <li><a href="tel:+79119591170">+7 (911) 959-11-70</a></li>
          <li>быстро отвечаю в {% include icon-telegram.html username=site.telegram_username %} (ответ может быть в стиле "вечером отвечу")</li>
          <li>можно писать в {% include icon-vk.html username=site.vk_username %}</li>
        </ul>
      </div>

    </div>

  </div>

</footer>
