---
layout: ru/blogs/courses/Sirius26CVPuzzleSolver/default
lang:   ru
id:     blogs_Sirius26CVPuzzleSolver_index
---

<div class="home">

  <h1 class="post-title">{% include /commons/icon-rss.html path="feed_ru.xml" %} Мини-курс компьютерного зрения - сопоставляем кусочки пазла, 2026</h1>

  <table class="post-list">
    {% for post in site.categories.Sirius26CVPuzzleSolver %}
      {% if post.lang == page.lang %}
        <tr>
          <td>
            <span class="post-meta">{{ post.date | date: "%b %-d," }}</span>
          </td>
          <td>
            <span class="post-meta">{{ post.date | date: "%Y" }}</span>
          </td>
          <td>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>

  <h1><a href="https://github.com/CompVisionCourses/CVPuzzleSolver">Исходники на GitHub</a></h1>

  <h1><a href="https://www.youtube.com/watch?v=EudQW1W8Ypk&list=PL5p-5hHpsHBpMSZZRrFBpN2MnffUg-AA_&index=1">Видеозаписи на YouTube</a></h1>

</div>
