<footer class="site-footer">

  <div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-2">
        Контактная информация:
        <ul>
          <li>Теоретические задания слать на <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>Быстро отвечаю в {% include /commons/icon-telegram.html username=site.telegram_username %}</li>
          <li>Можно писать в {% include /commons/icon-vk.html username=site.vk_username %}</li>
          <li><a href="tel:+79119591170">+7 (911) 959-11-70</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Мой личный сайт про компьютерное зрение, GPGPU и преподавание.</p>
      </div>
    </div>

  </div>

</footer>
