---
layout: blogs/gpgpu/default
lang:   en
id:     blogs_gpgpu_index
---

<div class="home">

  <h1 class="post-title">{% include /commons/icon-rss.html path="feed_en.xml" %} Notes about GPGPU development </h1>

  <ul class="post-list">
    {% for post in site.categories.gpgpu %}
      {% if post.lang == page.lang %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
